<a
	href="{{ url_for('modulos.detalle_modulo', nombre_modulo=modulo.nombre_asignatura) }}"
	class="group block rounded-md border border-zinc-800 bg-zinc-900/80 p-6 transition hover:-translate-y-0.5 hover:border-cyan-500 h-full"
>
	<div class="grid grid-cols-[72px_minmax(0,1fr)] gap-2 items-start">
		<div class="flex items-center">
			<div class="h-12 w-12 rounded-md bg-zinc-950/60 flex items-center justify-center border border-zinc-800 text-amber-400" >
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					class="h-6 w-6"
					fill="none"
					stroke="currentColor"
					stroke-width="1.2"
				>
					<path d="M12 2l3 6 6 .5-4.5 4 1 6L12 15l-5.5 3.5 1-6L3 8.5 9 8z" />
				</svg>
			</div>
		</div>

		<div>
			<div class="flex items-center justify-between gap-4">
				<h3 class="flex-1 min-w-0 truncate text-lg font-semibold text-white group-hover:text-cyan-300">
					{{ modulo.nombre_asignatura }}
				</h3>

				<span class="shrink-0 w-16 h-6 text-center rounded-lg border border-zinc-700 px-2 py-1 text-[11px] text-zinc-300">
					{{ modulo.posts_count }} posts
				</span>
			</div>
			<p class="mt-2 text-sm text-zinc-400">{{ modulo.curso_modulo }}</p>

			<ul class="mt-4 text-sm flex items-center gap-3 text-zinc-400">
				<li class="flex items-center gap-3">
					<span class="h-2 w-2 rounded-full bg-cyan-400/30"></span>
					<span>General</span>
				</li>
				<li class="flex items-center gap-3">
					<span class="h-2 w-2 rounded-full bg-cyan-400/30"></span>
					<span>Preguntas</span>
				</li>
				<li class="flex items-center gap-3">
					<span class="h-2 w-2 rounded-full bg-cyan-400/30"></span>
					<span>Recursos</span>
				</li>
			</ul>
		</div>
	</div>
</a>
