<dialog id="modal-alumnos-modulo" class="fixed inset-0 m-auto w-full max-w-md rounded-lg border border-white/5 bg-zinc-950/95 p-8 shadow-2xl shadow-cyan-500/20 backdrop:bg-black/60 backdrop:backdrop-blur-sm outline-none overflow-visible">
	<button type="button" id="btn-cerrar-alumnos-modal-top" class="absolute right-1 top-1 rounded-sm bg-zinc-900/5 px-2 py-1 text-sm  text-zinc-300 transition hover:bg-white/5 hover:text-cyan-500">
		x
	</button>
	<div class="relative space-y-4">
		<div class="mb-6 flex items-center justify-between pb-3">
			<h2 id="modal-alumnos-modulo-titulo" class="text-2xl font-medium text-white">Alumnos Matriculados</h2>
		</div>

		<div id="modal-alumnos-lista" class="max-h-60 overflow-y-auto space-y-3 custom-scrollbar">
			<p class="text-zinc-500 text-sm py-4 text-center">Cargando alumnos...</p>
		</div>
		
		<div class="flex items-center justify-end gap-3 border-zinc-600">
			<button type="button" id="btn-cerrar-alumnos-modal" class="rounded-sm border border-zinc-700 bg-transparent px-4 py-2 text-sm font-medium text-zinc-300 transition hover:bg-white/5 hover:text-white">
				Cerrar
			</button>
		</div>
	</div>
</dialog>
