<dialog id="modal-post" class="fixed inset-0 m-auto w-full max-w-lg rounded-lg border border-white/10 bg-zinc-950/95 p-8 shadow-2xl shadow-black/40 backdrop:bg-black/60 backdrop:backdrop-blur-sm outline-none">
	<form method="dialog" id="form-post" class="space-y-4">
		<input type="hidden" id="modal-post-id" />
		
		<div class="mb-6">
			<h2 id="modal-post-titulo" class="text-2xl font-semibold text-white">Editar Post</h2>
		</div>

		<div>
			<label for="modal-post-titulo-input" class="mb-2 block text-sm font-medium text-white">Título del post</label>
			<input id="modal-post-titulo-input" type="text" required class="text-sm w-full rounded-md border border-zinc-300/30 bg-white/5 px-4 py-2 text-white outline-none transition placeholder:text-zinc-500 focus:border-cyan-300 focus:ring-2 focus:ring-cyan-400/20" placeholder="Título" />
		</div>

		<div>
			<label for="modal-post-contenido-input" class="mb-2 block text-sm font-medium text-white">Contenido</label>
			<textarea id="modal-post-contenido-input" required rows="5" class="text-sm w-full rounded-md border border-zinc-300/30 bg-white/5 px-4 py-2 text-white outline-none transition placeholder:text-zinc-500 focus:border-cyan-300 focus:ring-2 focus:ring-cyan-400/20 resize-y custom-scrollbar" placeholder="Contenido del post..."></textarea>
		</div>
		
		<div class="flex items-center justify-end gap-3 pt-4">
			<button type="button" id="btn-cancelar-post" class="rounded-md border border-zinc-700 bg-transparent px-4 py-2.5 text-sm font-medium text-zinc-300 transition hover:bg-white/5 hover:text-white">
				Cancelar
			</button>
			<button type="submit" id="btn-guardar-post" class="rounded-md bg-cyan-500 px-5 py-2.5 text-sm font-semibold text-black transition hover:bg-cyan-400">
				Guardar
			</button>
		</div>
	</form>
</dialog>
