<dialog id="modal-confirmacion" class="fixed inset-0 m-auto w-full max-w-lg rounded-lg border border-cyan-400/20 bg-zinc-950/95 p-8 shadow-2xl shadow-cyan-500/20 backdrop:bg-black/60 backdrop:backdrop-blur-sm outline-none overflow-visible">
	<button type="button" id="btn-confirmar-cancelar-top" class="absolute right-1 top-1 cursor-pointer rounded-sm bg-zinc-900/5 px-2 py-1 text-sm text-zinc-300 transition hover:bg-white/5 hover:text-cyan-500">
		x
	</button>
	<div class="relative space-y-4">
		<div class="mb-4">
			<h2 id="modal-confirmar-titulo" class="text-2xl font-medium text-white">¿Estás seguro?</h2>
		</div>

		<div class="py-3">
			<span id="modal-confirmar-mensaje" class="text-sm text-zinc-300">Esta acción es permanente y no se podrá deshacer.</span>
		</div>
		
		<div class="flex items-center justify-end gap-3 border-zinc-600 pt-4">
			<button type="button" id="btn-confirmar-cancelar" class="cursor-pointer rounded-sm border border-zinc-700 bg-transparent px-4 py-2 text-sm font-medium text-zinc-300 transition hover:bg-white/5 hover:text-white">
				Cancelar
			</button>
			<button type="button" id="btn-confirmar-aceptar" class="cursor-pointer rounded-sm bg-cyan-500 px-5 py-2 text-sm font-semibold text-black transition hover:bg-cyan-400 shadow-lg shadow-cyan-500/10">
				Confirmar
			</button>
		</div>
	</div>
</dialog>
