<dialog id="modal-matricula" class="fixed inset-0 m-auto w-full max-w-xl rounded-lg border border-cyan-400/20 bg-zinc-950/95 p-8 shadow-2xl shadow-cyan-500/20 backdrop:bg-black/60 backdrop:backdrop-blur-sm outline-none overflow-visible">
	<button type="button" id="btn-cancelar-matricula-top" class="absolute right-1 top-1 cursor-pointer rounded-sm bg-zinc-900/5 px-2 py-1 text-sm  text-zinc-300 transition hover:bg-white/5 hover:text-cyan-500">
		x
	</button>
	<form method="dialog" id="form-matricula" class="relative space-y-4">
		<input type="hidden" id="modal-matricula-user-id" />
		
		<div class="mb-6">
			<h2 id="modal-matricula-titulo" class="text-2xl font-medium text-white">Matricular Alumno</h2>
		</div>

		<div>
			<label class="mb-3 block text-sm font-medium text-white">
				Selecciona los Módulos Académicos
			</label>
			<div class="rounded-sm border border-cyan-400/20 bg-zinc-900/50 p-3 space-y-2 custom-scrollbar grid grid-cols-1 md:grid-cols-2">
				{% for modulo in todos_los_modulos %}
				<label class="flex items-center gap-3 text-sm text-zinc-300 cursor-pointer hover:text-white transition">
					<input 
						type="checkbox" 
						name="modulos_matricula" 
						value="{{ modulo.codigo_modulo }}" 
						class="accent-cyan-500 rounded-sm border-zinc-300/30 bg-zinc-900 text-cyan-500 focus:ring-cyan-400/20 w-4 h-4 cursor-pointer"
					/>
					<span>{{ modulo.nombre_asignatura }}</span>
				</label>
				{% endfor %}
			</div>
		</div>
		
		<div class="flex items-center justify-end gap-3 border-zinc-600 mt-6">
			<button type="button" id="btn-cancelar-matricula" class="cursor-pointer rounded-sm border border-red-500/80 bg-transparent px-4 py-2 text-sm font-medium text-red-500/80 transition hover:bg-red-300/5 hover:border-red-600 hover:text-red-600">
				Cancelar
			</button>
			<button type="submit" id="btn-guardar-matricula" class="cursor-pointer rounded-sm bg-cyan-500 px-5 py-2 text-sm font-semibold text-black transition hover:bg-cyan-400">
				Guardar
			</button>
		</div>
	</form>
</dialog>
