{% extends 'layout.html' %}

{% block title %}Recientes | Pyxis Forum{% endblock %}

{% block page_content %}
<section class="space-y-8">
	<div class="">
		<p class="text-sm uppercase tracking-[0.35em] text-cyan-300">Actividad reciente</p>
		<h1 class="mt-3 text-3xl font-bold text-white">Posts recientes</h1>
	</div>

	<div class="grid gap-4">
		{% for post in posts %}
			{% include 'partials/post_item.html' %}
		{% endfor %}
	</div>
	{% include 'partials/paginacion.html' %}
</section>
{% endblock %}
